.App {
  text-align: center;
}


.main-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center-content-container {
  display: flex;
  contain: content;
}

.next-button-container, .prev-button-container {
display: flex;
}

.App-link {
  color: #61dafb;
}

.current-clothing-top {
  position: absolute;
  height: 200px;
  left: 223px;
  top: 50px;
}

.webcam-capture-with-screenshot {
  display: flex;
  flex-direction: column;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
