.App {
  text-align: center;
}

.main-container {
  background-color: #282c34;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center-content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-image: url("./img/player.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-position: center; */
  /* align-content: center; */
}

.video-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
}

.next-button-container,
.prev-button-container {
  display: flex;
}

.prev-button,
.next-button {
  display: flex;
  border-radius: 100%;
  height: 38px;
  width: 38px;
  margin: 0 136px;
  background-color: transparent;
}

.App-link {
  color: #61dafb;
}

.current-clothing-top {
  position: absolute;
  height: 300px;
  top: 200px;
}

.webcam-capture-with-screenshot {
  position: absolute;
  top: 150px;
}

.canvas-container {
  border: 1px solid black;
  height: 433px;
  width: 581px;
}

.webcam-image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.player-image {
  display: flex;
  position: absolute;
  max-height: 100vh;
  z-index: 100;
}

.button-container {
  display: flex;
  align-self: center;
  position: absolute;
  bottom: 340px;
  z-index: 200;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
